*{
padding: 0;
margin: 0;
}
header >div {
  text-align: right;
  margin-right:20px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}
u {
 text-decoration: none;

}

img {
  width: 50%;
  height: 50%;
}
div u >a {
  color: black;
  text-decoration: none;
}
div u >a:hover {
  color: grey;
}
div u >a:active {
  color: rgba(0, 0, 0);
  text-decoration: none;
}